// https://caniuse.com/
body	{ margin:0; padding:0; width:100%; height:100%; background-color:#000; color:#fff }
.dummy	{ position:static !important; visibility:hidden }
.head	{ position:fixed; top:0px; width:100%; border-bottom:1px dashed black; padding:1px; margin:1px; opacity:1 }
.foot	{ position:fixed; bottom:0px; width:100%; border-top:1px dashed black; padding:1px; margin:1px; opacity:1 }
